In [ ]:
#%%timeit
# Using Yahoo Finance
import pandas as pd
import datetime as dt
import yfinance as yf

tickers = ['LTM.SN', 'AESGENER.SN', 'AGUAS-A.SN', 'ANDINA-B.SN', 'BCI.SN', 'CAP.SN', 'CCU.SN',
           'CENCOSUD.SN', 'ENTEL.SN', 'FALABELLA.SN', 'CHILE.SN', 'COPEC.SN', 'RIPLEY.SN'
          ]

start = dt.datetime(2018,1,1)
end = dt.datetime.now()
df = pd.DataFrame()
for accion in tickers:
    df_ticker = yf.Ticker(accion)
    # get company name
    try:
        longname = df_ticker.info['longName']
        industry = df_ticker.info['industry']
        payoutRatio = df_ticker.info['payoutRatio']
    except:
        longname = accion
        industry = 'N/A'
        payoutRatio = 0 
    # get historical market data
    hist = df_ticker.history(start=start, end=end, interval='1d')
    hist['Ticker'] = accion
    hist['Name'] = longname
    hist['Industry'] = industry
    hist['PayoutRatio'] = payoutRatio
    df = df.append(hist, ignore_index=False)
file_name = '../DATA/chilean_stocks.csv'
df.to_csv(file_name)

In [3]:
import yfinance as yf
df_ticker = yf.Ticker('COPEC.SN')
df_ticker.info

IndexError: list index out of range

In [1]:
#%%timeit
# Using Yahoo Finance
import pandas as pd
import datetime as dt
from pandas_datareader import data as pdr

tickers = ['LTM.SN', 'AESGENER.SN', 'AGUAS-A.SN', 'ANDINA-B.SN', 'BCI.SN', 'CAP.SN', 'CCU.SN',
           'CENCOSUD.SN', 'ENTEL.SN', 'FALABELLA.SN', 'CHILE.SN', 'COPEC.SN', 'RIPLEY.SN'
          ]

start = dt.datetime(2018,1,1)
end = dt.datetime.now()
df = pd.DataFrame()
for accion in tickers:
    # get historical market data
    hist = pdr.get_data_yahoo(accion, start=start, end=end)
    hist['ticker'] = accion
    df = df.append(hist, ignore_index=False)
file_name = '../DATA/chilean_stocks_pdr.csv'
#df.to_csv(file_name)

In [ ]:
from pandas_datareader import data as pdr

tickers = ['LTM.SN', 'AESGENER.SN', 'AGUAS-A.SN', 'ANDINA-B.SN', 'BCI.SN', 'CAP.SN', 'CCU.SN',
           'CENCOSUD.SN', 'ENTEL.SN', 'FALABELLA.SN', 'CHILE.SN', 'COPEC.SN', 'RIPLEY.SN'
          ]
# download dataframe
data = pdr.get_data_yahoo('LTM.SN', start="2020-01-01", end="2020-04-30")

In [ ]:
data

In [2]:
df

,High,Low,Open,Close,Volume,Adj Close,ticker
Date,,,,,,,
2018-01-02,8740.000000,8615.900391,8717.900391,8724.599609,297474.0,8723.939453,LTM.SN
2018-01-03,8790.000000,8600.000000,8724.599609,8662.500000,1505876.0,8661.842773,LTM.SN
2018-01-04,8800.000000,8650.000000,8662.500000,8790.500000,480456.0,8789.833984,LTM.SN
2018-01-05,8920.000000,8805.000000,8800.000000,8903.799805,780612.0,8903.125000,LTM.SN
2018-01-08,9099.000000,8870.200195,8999.799805,9088.200195,911005.0,9087.511719,LTM.SN
...,...,...,...,...,...,...,...
2020-06-30,272.000000,265.000000,267.000000,267.000000,580742.0,267.000000,RIPLEY.SN
2020-07-01,270.000000,264.769989,266.000000,268.019989,16424.0,268.019989,RIPLEY.SN
2020-07-02,286.000000,272.000000,284.000000,284.000000,498422.0,284.000000,RIPLEY.SN
2020-07-03,295.000000,287.000000,293.989990,292.959991,48697.0,292.959991,RIPLEY.SN
2020-07-06,309.149994,293.839996,293.839996,305.000000,2055783.0,305.000000,RIPLEY.SN